@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap");

html,
body {
  margin: auto;
  padding: 10px;
  background: #f7f2e8;
}

#content {
  margin: auto;
  width: 60%;
}

.nav {
  text-align: center;
  display: flex;
}

.column {
  flex: 50%;
}

#main {
  font-size: 21px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 15%;
}

#main-2 {
  font-size: 26px;
  color: #343434;
  padding-bottom: 1%;
}

#panda {
  text-decoration: #0088ff;
  text-decoration-line: underline;
}

h3 {
  font-family: "Kaisei Tokumin", serif;
}

p {
  color: #343434;
  text-transform: lowercase;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

p.column {
  font-size: 17px;
}

a {
  text-decoration: none;
}

a:link {
  color: #343434;
}

a:visited {
  color: #343434;
}

a:hover {
  color: #34343472;
}

.row-intro {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

#yves {
  width: 40%;
  margin-bottom: 50px;
  box-shadow: 10px 10px #0088ff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#yves2 {
  width: 20%;
  height: auto;
  float: right;
  margin-left: 4rem;
  margin-bottom: 1rem;
  padding-right: 5%;
  shape-outside: circle();
}

#icons:hover {
  cursor: pointer;
}

.fa {
  margin-right: 10px;
}

#para-content {
  padding-bottom: 25%;
}
 
/* start of projects styling */

h2 {
  font-size: 30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.box {
  color: #fff;
  border-radius: 0px;
  padding: 0px;
  object-fit: contain;
}

.project {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  box-shadow: 10px 10px #343434;
}

/* start of insights styling */

.insights-intro {
  list-style-type: none;
  font-family: "DM Sans", sans-serif;
}

.insights-intro > li li {
  list-style-type: disc;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  padding-bottom: 1em;
}

.insights-main {
  list-style-type: none;
  font-family: "DM Sans", sans-serif;
  text-transform: lowercase;
}

.insights-main > li li {
  list-style-type: none;
  font-family: "DM Sans", sans-serif;
  text-transform: lowercase;
  list-style-type: disc;
  font-size: 17px;
  padding-bottom: 0.5em;
}


.quotes {
  text-decoration: #0088ff;
  text-decoration-line: underline;
}